<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">
      Course Management
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_list' %}"> Students </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_create' %}">
            Add Student
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'result_list' %}"> Results </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'result_create' %}"> Add Result </a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>
